@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/

/***************************************************************
1200 Grid System fluid
***************************************************************/

.container,.container_3,.container_4,.container_5{max-width:1200px; min-width:940px; margin:0 auto;padding:0 4%;}
/***************************************************************
3 collumn
***************************************************************/
.grid_1,.grid_2,.grid_3 {display:inline;float: left;position: relative;margin-left: 1%;margin-right: 1%;}
.alpha {margin-left: 0;}.omega {margin-right: 0;}
.container_3 .grid_1 {width:31.333%;}
.container_3 .grid_2 {width:64.667%;}
.container_3 .grid_3 {width:98.0%;}
.container_3 .prefix_1 {padding-left:33.333%;}
.container_3 .prefix_2 {padding-left:66.667%;}
.container_3 .suffix_1 {padding-right:33.333%;}
.container_3 .suffix_2 {padding-right:66.667%;}
.container_3 .push_1 {left:33.333%;}
.container_3 .push_2 {left:66.667%;}
.container_3 .pull_1 {left:-33.333%;}
.container_3 .pull_2 {left:-66.667%;}
/***************************************************************
4 column
***************************************************************/
.grid_1,.grid_2,.grid_3,.grid_4 {display:inline;float: left;position: relative;margin-left: 1%;margin-right: 1%;}
.alpha {margin-left: 0;}
.omega {margin-right: 0;}
.container_4 .grid_1 {width:23.0%;}
.container_4 .grid_2 {width:48.0%;}
.container_4 .grid_3 {width:73.0%;}
.container_4 .grid_4 {width:98.0%;}
.container_4 .prefix_1 {padding-left:25.0%;}
.container_4 .prefix_2 {padding-left:50.0%;}
.container_4 .prefix_3 {padding-left:75.0%;}
.container_4 .suffix_1 {padding-right:25.0%;}
.container_4 .suffix_2 {padding-right:50.0%;}
.container_4 .suffix_3 {padding-right:75.0%;}
.container_4 .push_1 {left:25.0%;}
.container_4 .push_2 {left:50.0%;}
.container_4 .push_3 {left:75.0%;}.container_4 .pull_1 {left:-25.0%;}
.container_4 .pull_2 {left:-50.0%;}
.container_4 .pull_3 {left:-75.0%;}
/***************************************************************
5 collumn
***************************************************************/
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5 {display:inline;float: left;position: relative;	margin-left: 1%;margin-right: 1%;}
.alpha {margin-left: 0;}.omega {margin-right: 0;}
.container_5 .grid_1 {width:18.0%;}
.container_5 .grid_2 {width:38.0%;}
.container_5 .grid_3 {width:58.0%;}
.container_5 .grid_4 {width:78.0%;}
.container_5 .grid_5 {width:98.0%;}
.container_5 .prefix_1 {padding-left:20.0%;}
.container_5 .prefix_2 {padding-left:40.0%;}
.container_5 .prefix_3 {padding-left:60.0%;}
.container_5 .prefix_4 {padding-left:80.0%;}
.container_5 .suffix_1 {padding-right:20.0%;}
.container_5 .suffix_2 {padding-right:40.0%;}
.container_5 .suffix_3 {padding-right:60.0%;}
.container_5 .suffix_4 {padding-right:80.0%;}
.container_5 .push_1 {left:20.0%;}
.container_5 .push_2 {left:40.0%;}
.container_5 .push_3 {left:60.0%;}
.container_5 .push_4 {left:80.0%;}
.container_5 .pull_1 {left:-20.0%;}
.container_5 .pull_2 {left:-40.0%;}
.container_5 .pull_3 {left:-60.0%;}
.container_5 .pull_4 {left:-80.0%;}

/* CSS Document */
/* line 1, ../../app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 8, ../../app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 13, ../../app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 18, ../../app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 20, ../../app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 22, ../../app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 27, ../../app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 30, ../../app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 33, ../../app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 38, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 45, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 54, ../../app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/***************************************************************
BLOCK RESET
***************************************************************/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }audio:not([controls]) { display: none; }[hidden] { display: none; }html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/***************************************************************
FONTS RESET
***************************************************************/
html, button, input, select, textarea { font-family:'Poiret One', sans-serif; font-weight:normal; color: #223f49; }
body { margin: 0; font-size: 15px; color:#223f49;}
span.highliteYellow{ background-color:#fdf7c0; color:#000000;}
span.highliteWhite{ background-color:#838484; color:#ffffff;}
abbr[title] { border-bottom: 1px dotted; }b, strong { font-weight: bold; }blockquote { margin: 1em 40px; }dfn { font-style: italic; }hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }ins { background: #ff9; color: #000; text-decoration: none; }mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }q { quotes: none; }q:before, q:after { content: ""; content: none; }small { font-size: 85%; }sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }sup { top: -0.5em; }sub { bottom: -0.25em; }
h1, h2, h3{font-family: 'Oswald', sans-serif; color:#95abb3; font-weight:400; margin:8px 0;}
h1{ font-size:24px; margin:8px 0;}
h4, h5{font-family: 'Oswald', sans-serif; font-weight:300; margin:5px 0;}
p{margin:5px 0;}
/***************************************************************
SELECTION RESET
***************************************************************/
::-moz-selection { background: #91bcde; color: #ffffff; text-shadow: none; }
::selection { background: #91bcde; color: #ffffff; text-shadow: none; }

/***************************************************************
LINK RESET
***************************************************************/
a { color: #000000; }
a:hover { color: #666666; }
a:focus { outline:none; }
a:hover, a:active { outline: 0; }

/***************************************************************
LIST ITEM RESET
***************************************************************/
ul, ol {padding:10px 0 0 0; }
li{ background:url(/assets/iconLiStar.png) top left no-repeat; padding:2px 0 0 25px; list-style:none; margin:8px 0;}
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/***************************************************************
IMG RESET
***************************************************************/
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden;}
figure { margin: 0; }

/***************************************************************
FORM RESET
***************************************************************/
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/***************************************************************
TABLE RESET
***************************************************************/
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/***************************************************************
GLOBAL STYLE
***************************************************************/
html, body{
	height:auto;
	width:100%;
}
html{
	background:url(/assets/htmlBgPattern.png) repeat #5a8cb3;
}
.floatClear{
	width:100%;
	height:1px;
	display:block;
	clear:both;
	float:none;
}
.bodyDivider{
	width:98%;
	margin:0 1%;
	height:1px;
	background:#ffffff;
	border-top:1px solid #c5c0a7;
}


/***************************************************************
BTN STYLE
***************************************************************/
.btnOff{
	color:#ffffff;
	padding:5px 12px;
	font-size:15px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	text-decoration:none;
	margin:0;
}
.btnOff:hover{
	color:#ffffff;
	background:rgba(0,0,0,.2);
	margin:0;
	padding:5px 12px;
	border-bottom:1px solid #93b7d2;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}
.btn, div.submitWrap, .btnCool{
	color:#223f49;
	padding:4px 10px;
	font-size:15px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	text-decoration:none;
	background: url(/assets/btnBgPattern.png) center repeat-x #eaeaea;
	border:1px solid #d9d9d9;
	border-bottom:1px solid #b1b1b1;
	margin:0;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.btn:hover{
	color:#223f49;
}
.btnCool{
	font-size:10px;
	padding:8px;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	color:#777a77;
}
.btnCool:hover{
	color:#2d83ae;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.2);
	-ms-box-shadow: 0 0 1px rgba(0,0,0,.2);
	-o-box-shadow: 0 0 1px rgba(0,0,0,.2);
	box-shadow: 0 0 1px rgba(0,0,0,.2);

}

/***************************************************************
FORM STYLE
***************************************************************/
input[type='text']{
	height:24px;
	background:#ffffff;
	background:rgba(255,255,255,.5);
	border:1px solid #dcdcdc;
	padding:0 5px;
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
}
input:focus[type='text']{
	border:1px solid #a0ccde;
	background:#f4fafe;
	outline:none;
}
div.submitWrap{
	display:block;
	padding:0;
	width:60px;
	height:auto;
	margin-left:10px;
}
div.submitWrap:hover{
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.2);
	-ms-box-shadow: 0 0 1px rgba(0,0,0,.2);
	-o-box-shadow: 0 0 1px rgba(0,0,0,.2);
	box-shadow: 0 0 1px rgba(0,0,0,.2);
}
input[type='submit']{
	font-size:14px;
	line-height:14px;
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	color:#777a77;
	padding:0 5px;
	margin:0 0 5px 8px;
	border: solid 1px;
	outline:none;
	background-color:transparent;
}
input:hover[type='submit']{
	color:#2d83ae;
}

/***************************************************************
SEARCH STYLE
***************************************************************/
form.charityTitle{
	margin-top:10px;
	margin-left: 1%;
	margin-right: 1%;
	width:100%;
}
form.mainSearch{
	margin-top:10px;
	margin-left: 1%;
	margin-right: 1%;
	width:350px;
}
form.mainSearch .submitWrap{
	float:left;
}
form.mainSearch .submitWrap input{
	line-height:12px;	
}
form.mainSearch input[type='text']{
	float:left;
	margin-top:1px;
}


/***************************************************************
TOOL TIP 
***************************************************************/
/*tooltip*/
.tooltipThumbs {
	position:absolute;
	top:-200px; 
	display:none;
	background:transparent url(/assets/tooltipBg.png) bottom center no-repeat;
	background-position:center 22px;
	font-size:11px; line-height:1.5;
	text-align:left;
	height:140px;
	width:180px;
	padding:35px 30px 0 30px;
	margin:0 0 0 -65px;
	z-index:300;}
.tooltipThumbs a{
	text-decoration:none;
}
.tooltipThumbs a h1{
	font-size:13px;
	color:#4e7380;
	margin:0 0 4px 0;
	text-decoration:none
}
.tooltipThumbs a h1 span{
	color:#223f49;
}	
.tooltipThumbs a h1:hover, .tooltipThumbs a h1:hover span{
	color:#2d83ae;
}

.tooltipThumbs p{
	display:block;
	height:45px;
	color:#223f49;
	font-size:12px;
	line-height:12px;
	margin:0;
	overflow:hidden;
}	
.tooltipThumbs .thermometerWrap .thermometerBg{
	margin:0;
	height:14px;
} 
.tooltipThumbs .thermometerWrap .progress{
	height:14px;
}
/*Cart Tooltip*/
.tooltipCart {
	position:absolute;
	top:104px; 
	display:none;
	background:transparent url(/assets/tooltipCartBg.png) top center no-repeat;
	font-size:11px; line-height:1.5;
	text-align:left;
	height:95px;
	width:180px;
	padding:20px;
	margin:0 0 0 -40px;
	z-index:300;}
.tooltipCart a{
	text-decoration:none;
}
.tooltipCart a h1{
	font-size:13px;
	color:#4e7380;
	margin:0 0 4px 0;
	text-decoration:none
}
.tooltipCart a h1 span{
	color:#223f49;
}	
.tooltipCart a h1:hover, .tooltipThumbs a h1:hover span{
	color:#2d83ae;
}

.tooltipCart p{
	display:block;
	height:45px;
	color:#223f49;
	font-size:12px;
	line-height:12px;
	margin:0;
	overflow:hidden;
}	
.tooltipCart .topInfo{
}
.tooltipCart .topInfo .imgWrap{
	border:4px solid #f5f5f5;
	width:70px;
	height:70px;
	overflow:hidden;
	float:left;
	text-align:right;
}
.tooltipCart .topInfo img{
	min-width:100%;
	max-height:100%;
}
.tooltipCart .topInfo .infoText{
	width:100px;
	height:72px;
	margin:0;
	float:left;
	font-size:16px;
	font-weight:300;
	padding:0;
	text-align:right;
}
.tooltipCart .topInfo h1{
	font-size:12px;
	color:#4e7380;
	margin:0;
}
.tooltipCart .topInfo h1 span{
	color:#223f49;
}

.tooltipCart .topInfo .infoText span.cartAmount{
	display:block;
	height:24px;
	margin:2px 0 0;
	padding-left:12px;
}
	
.tooltipCart .checkOutBtn{
	width:64px;
	height:24px;
	background:url(/assets/checkOutBtn.png) top center no-repeat;
	border:none;
	float:right;
}
.tooltipCart .checkOutBtn:hover{
	background:url(/assets/checkOutBtn.png) bottom center no-repeat;
}

/***************************************************************
HEADER STYLE
***************************************************************/
header{
	min-width:1024px;
	height: 105px;
	background: url(/assets/headerBg.png) repeat-x;
}
header .logo{
	width:270px;
	height:58px;
	background:url(/assets/logoMain.png) left center;
	float:left;
	margin-left: 1%;
	margin-right: 1%;
}
header nav.main{
	margin-top:17px;
	float:right;
	margin-left: 1%;
	margin-right: 1%;
}
header nav.main .btn,header nav.main  .btnOff{
	margin-left:12px;

}
header form.mainSearch{
	float:left;
}
header nav.secondary{
	margin-top:15px;
	float:right;
	margin-left: 1%;
	margin-right: 1%;
}
nav.secondary a{
	color:#85845e;
	font-size:15px;
	line-height:13px;
	font-weight:300;
	text-decoration:none;
	margin:0 0px;
	padding:0 8px 0 0;
	border-right:1px solid #85845e

}
nav.secondary a:hover{
	color:#9f9f9f;
}
header nav.secondary a.cartView{
	background:url(/assets/cartView.png) right top no-repeat;
	padding-right:22px;
	border:none;
}
nav.secondary a.cartView:hover{
	background-position:right bottom;
	background-position:right -18px;
}

/***************************************************************
THERMOMETER STYLE
***************************************************************/
.thermometerWrap{
	height:40px;
	margin-top:20px;
}
.thermometerBg{
	width:100%;
	height:20px;
	background:#95abb3;
}
.thermometerBg .progress{
	height:20px;
	background:#4e7380;
}
.thermometerWrap span.left{
	text-align:left;
	font-size:12px;
}
.thermometerWrap span.right{
	text-align:right;
	float:right;
	font-size:12px;
}


/***************************************************************
BODY STYLE
***************************************************************/
.bodyWrap{
	min-width:1024px;
	background: url(/assets/bodyBg.png) repeat #e5e4dc;
}

/*SHOWCASE*/
.showcase{
	margin:35px auto 25px;
}
.showcase .imgWrap{
	height:150px;
	border:4px solid #ffffff;
	background:#ffffff;
	overflow:hidden;
}

.showcase .imgWrap:hover{
	border:4px solid #f5f5f5;
}

.showcase .imgFooter{
	width:100%;
	height:14px;
	background:url(/assets/thumbFooter.png) top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.showcase img{
	min-height:150px;
	width:260px;
}
.showcase a{
	text-decoration:none;
}
.showcase a:hover h1, .showcase a h1:hover span{
	color:#2d83ae;
}
.showcase h1{
	font-size:15px;
	color:#4e7380;
	margin:8px 0;
}
.showcase h1 span{
	color:#223f49;
}
.showcase p{
}
	
/*Main Content*/
.mainContent{
	margin:15px auto;
}

/*PROJECTS*/
h1{
	margin-left:10px;
}
.thumbWrap{
	position:relative;
	width:28%;
	float:left;
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:8px;
}
.thumbWrap a.browseThumb{
	width:100%;
	height:90px;
	display:inline-block;
	border:4px solid #ffffff;
	text-align:center;
	overflow:hidden;
}
.thumbWrap a.browseThumb:hover{
	border:4px solid #f5f5f5;
}
.thumbWrap a.browseThumb img{
	min-width:100%;
	max-height:100%;
}

/*PAGINATION BROWSE PROJECTS*/
.paginatioWrap{
	text-align:center;
	width:295px;
	margin:0 auto;
}

.paginationBtn{
	width:20px;
	height:20px;
	margin:0 5px;
	font-size:12px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#575757;	
	display:block;
	float:left;
	text-decoration:none;
	border:1px solid #d9d9d9;
	border-bottom:1px solid #b1b1b1;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius:3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	-ms-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	-o-box-shadow: 0 1px 1px rgba(0,0,0,.5);
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.paginationBtn:hover{
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.5);
	-ms-box-shadow: 0 0 1px rgba(0,0,0,.5);
	-o-box-shadow: 0 0 1px rgba(0,0,0,.5);
	box-shadow: 0 0 1px rgba(0,0,0,.5);
}
a.pagFirst{
	background:url(/assets/pagFirst.png) top center;
}
a.pagFirst:hover{
	background-position:bottom center;
}

a.pagPrev{
	background:url(/assets/pagPrev.png) top center;
}
a.pagPrev:hover{
	background-position:bottom center;
}
a.pagLast{
	background:url(/assets/pagLast.png) bottom center;
}
a.pagLast:hover{
	background-position:top center;
}
a.pagNext{
	background:url(/assets/pagNext.png) bottom center;
}
a.pagNext:hover{
	background-position:top center;
}
.paginatioWrap a.pagNumber{
	width:21px;
	height:21px;
	border:1px solid #ccc;
	-moz-box-shadow: none;
   -webkit-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}
.paginatioWrap a.pagNumber:hover, .paginatioWrap a.active{
	color:#ffffff;
	font-weight:bold;
	background:rgba(0,0,0,.2);
	border:1px solid #ccc;
	border-bottom:1px solid #f9f9f9;
	margin-top:1px;
	
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}



/*INFO HOLDER*/

.boxWrap{
	width:100%;
	border:4px solid #ffffff;
	background:rgba(255,255,255,.5);
	margin-bottom:25px;
}

h1.boxHeader{
	margin:8px 0;
}
.boxWrap h1{
}

/*ICONS 1,2,3*/
.iconWrap{
	width:30%;
	float:left;
}
.iconWrapMid{
	width:30%;
	float:left;
	margin:0 5%;
}
.icon{
	height:170px;
}
.iconSearch{
	background:url(/assets/searchIcon.png) no-repeat rgba(255,255,255,.5);
	background-position:right 40px;
}
.iconDonate{
	background: url(/assets/donateIcon.png) no-repeat rgba(255,255,255,.5);
	background-position:right 40px;
}
.iconAction{
	background:url(/assets/progressIcon.png) no-repeat rgba(255,255,255,.5);
	background-position:right 40px;
}
.icon span{
	display:block;
	width:70%;
	height:100px;
	font-size:18px;
	margin:10px 0 0 10px;
	text-align: center;
}
.icon span.number{
	font-size:30px;
	font-family:'Oswald';
	color:#95abb3;
	text-align:left;
	margin-left:15px;
}

/*FEATURE SUCCESS STORY*/
.featureSuccess{
}
.featureSuccess .imgWrap{
	width:42%;
	height:220px;
	margin:15px 2%;
	float:left;
	overflow:hidden;
	
}
.featureSuccess .imgWrap img{
	min-width:100%;
	max-height:100%;
}
.featureSuccess .infoHolder{
	float:left;
	margin:5px 0 5px 1%;
	width:51%;
}
.featureSuccess .infoHolder .textHolder{
	height:165px;
}
.featureSuccess .infoHolder .textHolder h1{
	font-size:20px;
	color:95abb3;
	margin:8px 0;
}
.featureSuccess .infoHolder .textHolder h2{
	font-size:16px;
	color:#4e7380;
}
.featureSuccess .infoHolder .textHolder h2 span{
	color:#223f49;
}
.featureSuccess .infoHolder .textHolder p{
}
.featureSuccess .infoHolder .featFoot{
	margin-top:20px;
}
.featureSuccess .infoHolder .featFoot .thermometerWrap{	
	width:55%;
	float:left;
}
.featureSuccess .infoHolder .featFoot a{
	float:right;
	margin:10px 10px 0 0;
}

/*Want to help but don't see where?*/
.whantToHelp{
}
.whantToHelp h1{
	text-align:center;
	font-size:28px;
}
.whantToHelp p{
	text-align:center;
	font-size:22px;
	color:#6d6d6d;
	margin:10px auto 20px;
}
.whantToHelp form.addCharity{ 
	text-align:center;
}
.whantToHelp form.addCharity .fieldWrap{
	width:28%;
	margin:0 2.5%;
	float:left;
	text-align:left;
}
.whantToHelp form.addCharity .fieldWrap span{
	font-family:'Oswald';
	color:#6d6d6d;
	font-size:12px;
}
.whantToHelp form.addCharity .fieldWrap input[type='text']{
	height:28px;
	width:100%;
	max-width:100%;
	background:#d4d4d0;
	border:1px solid #e3e3e3;
	border-bottom:1px solid #ffffff;
	padding:0 5px;

	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}
.whantToHelp form.addCharity .fieldWrap input:focus[type='text']{
	background:#ffffff;

}
.whantToHelp form.addCharity input.sumitRegister{
	width:200px;
	height:50px;
	background:url(/assets/registerOrgSubmit.png) top center;
	text-align:center;
	margin:25px 0;
}
.whantToHelp form.addCharity input.sumitRegister:hover{
	background:url(/assets/registerOrgSubmit.png) bottom center;
}
/***************************************************************
FOOTER STYLE
***************************************************************/
footer{
	min-width:1025px;
	height:20px;
	background:url(/assets/footerBg.png) top repeat-x;
}


/***************************************************************
PROJECT PAGE
***************************************************************/

/*MAIN WRAP*/
.ppWrap{
	margin:0 auto;
	width:860px;
	padding:0 80px;
	margin:50px auto 0;
	background-color: transparent;
}

/*GENREAL WRAP STYLE*/
.ppBoxWrap{
	border:4px solid #f2f2f2;
	background:rgba(255,255,255,.8);
	margin-bottom:10px;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.5);
	-webkit-box-shadow:0 0 4px rgba(0,0,0,.5);
	-ms-box-shadow: 0 0 4px rgba(0,0,0,.5);
	-o-box-shadow: 0 0 4px rgba(0,0,0,.5);
	box-shadow:0 0 4px rgba(0,0,0,.5);
}

/*TOP BAR*/
.ppTopBar{
}
.ppTopBar .breadcrumb{
}
.ppTopBar a, .ppTopBar span{
	font-family:'Oswald';
	font-size:12px;
	line-height:30px;
	color:#264f6f;
}
.ppTopBar a{
	margin-left:10px;
	text-decoration:underline;
}
.ppTopBar a:hover{
	color:#5a8cb3;
}

.ppTopBar .closePP{
}
.ppTopBar .closePP:hover{
	background-position:top center;
}


/*MAIN PP INFO*/
.ppInfo{
	width:625px;
	float:left;
}
.ppInfoVolunteer{
	min-height:603px;
}
/*PP Image Slide*/
.ppSlide{
	width:300px;
	float:left;
}
.ppSlide .mainImg{
	width:280px;
	height:180px;
	border:4px solid #f2f2f2;
	background:rgba(255,255,255,.8);
	margin:10px;
}
.ppSlide .mainImg img{
	min-width:100%;
	max-height:100%;
}
.ppSlide .ppThumbWrap{
	width:300px;
	margin:0 0 0 5px;
}

.ppSlide .ppThumbWrap a{
	width:78px;
	height:78px;
	display:inline-block;
	border:4px solid #f2f2f2;
	background:rgba(255,255,255,.8);
	margin: 0 5px 5px 5px;
	overflow:hidden;

}
.ppSlide .ppThumbWrap a:hover{
	border:4px solid #ccc}

.ppSlide .ppThumbWrap a img{
	min-width:100%;
	max-height:100%;
}

/*TEXT*/
.ppTextWarp{
	width:320px;
	height:395px;
	float:right;
}
.ppTextWarp h1{
	font-size:20px;
	color:#4e7380;
	margin:5px 0;
}
.ppTextWarp h2{
	font-size:14px;
	color:#4e7380;
	margin:5px 0;
}
.ppTextWarp h1 span{
	color:#223f49;
}
.ppTextWarp p{
	margin-bottom:10px;
}
.ppTextWarp .ppMain{
	height:120px;
}
.ppTextWarp .ppAbout{
	height:260px;
}

/*DONATION BOARD*/
.donationBoard{
	height:400px;
	float:right;
}
.donationBoard .trackList{
	width:210px;
	height:190px;
}

/*Charts Inner Div*/
.chartDiv{
	width:190px;
	height:1px;
	margin:10px auto;
	background:#cccccc;
}

/*PIE CHART*/
.donationBoard .trackList .piechart{
	padding:10px 10px 0 10px;
}

.donationBoard .trackList .piechart span{
	font-family:'Oswald';
	color:#b44c49;
}
.donationBoard .trackList .piechart .pieHolder span{
	font-size:36px;
}

/*TERMOMETER*/
.donationBoard .trackList .thermometerChart{
	padding:0 10px;
}
.donationBoard .trackList .thermometerChart span{
	font-family:'Oswald';
	color:#b44c49;
	font-size:36px;
}
.donationBoard .trackList .thermometerChart .thermometerWrap{
	margin:0;
}
.donationBoard .trackList .thermometerChart .thermometerWrap span{
	font-family:'Poiret One';
	font-size:14px;
	color:#342d2d;
}
.donationBoard .trackList .thermometerChart .thermometerWrap .thermometerBg{
	width:100%;
	height:20px;
	background:#c47c79;
}
.donationBoard .trackList .thermometerChart .thermometerWrap .thermometerBg .progress{
	height:20px;
	background:#a63936;
}

.donationBoard .donationform{
	width:210px;
	height:190px;
	text-align:center;

}
.donationBoard .donationform h1{
	color:#5a8cb3;
	margin:15px 0 5px;
	font-size:26px;
}
.donationBoard .donationform form input[type="text"]{
	text-align:left;
	padding-left:25px;
	width:160px;
	background:url(/assets/donateSign.png) no-repeat;
	background-position:10px -23px;
	font-family:'Oswald';
	color:#5a8cb3;
}
.donationBoard .donationform form input:focus[type="text"]{
	color:#6ab142;
	background:url(/assets/donateSign.png) no-repeat #f4fafe;
	background-position:10px 1px;
}

input#donation_amount.amountField {
	text-align:left;
	padding-left:25px;
	width:160px;
	background:url(/assets/donateSign.png) no-repeat;
	background-position:10px -23px;
	font-family:'Oswald';
	color:#5a8cb3;
}
input:focus#donation_amount.amountField {
	color:#6ab142;
	background:url(/assets/donateSign.png) no-repeat #f4fafe;
	background-position:10px 1px;
}

.donationBoard .donationform form input[type="button"]{
	border:none;
	outline:none;
	background:none;
	text-decoration:underline;
	margin-top:5px;
}
.donationBoard .donationform form input:hover[type="button"]{
	color:#5a8cb3
}
.donationBoard .donationform form input[type="submit"]{
	width:170px;
	height:45px;
	margin:20px auto 0;
	background: url(/assets/addDonationSubmit.png) top center;
	outline:none;
	border:none;
}
.donationBoard .donationform form input:hover[type="submit"]{
	background-position:center -43px;
}


/*SIMILAR ITEMS*/
.ppFooter{
}
.ppFooter h3{
	color:#5a8cb3;
	font-size:14px;
	margin:5px 5px 5px 10px;
}
.ppFooter .thumbWrap{ 
	position:relative;
	width:50px;
	float:left;
	margin:0 10px 8px;
}
.ppFooter .thumbWrap a.browseThumb{
	width:50px;
	height:50px;
	display:inline-block;
	border:4px solid #f2f2f2;
	text-align:center;
	overflow:hidden;
}
.ppFooter .thumbWrap a.browseThumb:hover{
	border:4px solid #cccccc;
}
.ppFooter .thumbWrap a.browseThumb img{
	min-width:100%;
	max-height:100%;
}
.ppFooter .thumbWrap .tooltipThumbs{
	margin:0 0 0 -90px;
}
/*MODAL WINDOW*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{}
#cboxContent{background-color:transparent; overflow:visible;}
.cboxIframe{background-color:transparent;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:5px;}
#cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
#cboxCurrent{ display:none;}	
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}

/*MODAL CONTROLS*/
#cboxPrevious{
	width:60px;
	height:194px;
	top:50%; 
	left:-2px;
	margin-top:-100px;
	background: url(/assets/modalControl.png) top left no-repeat;
}
#cboxPrevious:hover{
	background: url(/assets/modalControl.png) bottom left no-repeat;
}
#cboxNext{
	width:56px;
	height:194px;
	top:50%; 
	left:100%;
	margin-left:-55px;
	margin-top:-100px;
	background: url(/assets/modalControl.png) top right no-repeat;
}
#cboxNext:hover{
	background: url(/assets/modalControl.png) bottom right no-repeat;
}
#cboxClose{
	top:55px;
	right:85px;
	width:20px;
	height:20px;
	background:url(/assets/closeBtn.png) bottom center;
	float:right;
	margin:5px;
}
#cboxClose:hover{
	background-position:top center;
}

.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}






