<p id="notice"><%= notice %></p>

<input id="charity_id" type="hidden" value="<%= @charity.id %>" /> 

<p>
	Here is how you donate to <%= @charity.charity_name %>!
	
	<a href="	http://www.donortownsquare.com/donate_redir.aspx?ai=1358&qs=NMGLN">Donate here!</a>
	
	Or fill out this form:
	
	
</p>
